@import 'aos/dist/aos.css';

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin-left: 5rem;
  margin-right: 5rem;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/*navbar*/

/* .navbar-nav {
  display: flex;
;} */


/* Header and Banner */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.banner {
  width: 100%;  
  max-width: 350px; 
  height: auto;
  display: block;
  margin: 20px auto; 
}

/* Gallery Section */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 10px; 
  overflow: hidden; /* Ensures content stays within rounded corners */
  text-align: center;
  margin: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease; /* Smooth hover effects */
  flex-basis: calc(25% - 20px); /* Adjust the width of each card to fit 4 in a row */
}

.pokemon-card:hover {
  transform: scale(1.05);
  opacity: 0.6;
}

.pokemon-card img {
  width: 150px;
  height: auto;
}

/* Gallery Image Animation */
.gallery-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  justify-items: center;
}

.gallery-img:hover {
  transform: scale(1.05);
  opacity: 0.6;
}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin: 0 auto; 
}
.card:hover {
  transform: scale(1.05);
  opacity: 0.6;
  transition: all 0.3s ease;
}

.row {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;
}

.col {
  margin: 10px; 
}

/* home page */

/* .home-container {
  background-image: url('../public/assets/allpok.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; 
} */

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}


/* Modal Image Styles */
.modal-img {
  max-height: 420px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Advanced Search and Filter */
.search-filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.search-bar {
  flex-grow: 1;
  margin-right: 10px;
}

.sort-select {
  width: 150px;
}

/* search-sort by */
.form-control-sm, .form-select-sm {
  width: 50%;
}

.form-control {
  display: inline-block;
}

.text-end {
  text-align: right !important;
}
